.header{
    display: grid;
    grid-template-columns: auto; 
    border-bottom: solid 1px gray;
}

.imagen_personal{
    margin-bottom: -3px;
    height: 100%;
}

.imagen_personal img{
    position: relative;
    left: 40%;
    width: 250px;
    height: 250px;
    object-fit: fill;
    border: slategray solid 1px;
    border-radius: 4px 4px ;
    box-shadow: 2px 2px 2px gainsboro;
}

.cuerpo{
    margin-top: -20px;
    text-align: center;
    background-color: silver;
}
.cuerpo ul{
    width: 150px;
    position: relative;
    left: 40%;
}

.cuerpo li{
    list-style: none;
}

.cuerpo .item{
    list-style: circle;
}

.footer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    width: 500px;
    margin-left: 35%;
}

.footer img{
    width: 80px;
    height: 80px;
}